:local(.container) {
  display: flex;
  margin: 0.5rem;
  height: 3rem;
  justify-content: space-evenly;
  align-items: center;
}

:local(.navigate) {
  display: flex;
  justify-content: space-around;
}

:local(.logo) {
  font-size: x-large;
}

:local(.activeIcon) {
  height: 2rem;
  width: 2rem;
  border: 1px solid;
  color: #74b1be;
}

:local(.activeIcon:hover) {
  height: 2rem;
  width: 2rem;
  border: 1px solid;
  color: #2c2e3b;
  background-color: #74b1be;
}

:local(.icon) {
  height: 2rem;
  width: 2rem;
  border: 1px solid;
  color: #2c2e3b;
  background-color: #74b1be;
}
