:local(.container) {
  height: 5rem;
  width: 5rem;
  margin: 0.5rem;
  padding: 5px;
}

:local(.selectedContainer) {
  height: 5rem;
  width: 5rem;
  margin: 0.5rem;
  padding: 5px;
  border-radius: 10px;
  background-color: #2c2e3b;
}

:local(.title) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:local(.name) {
  font-size: 12px;
  word-break: break-all;
}
