:local(.container) {
  height: 6rem;
  width: 6rem;
}

:local(.title) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:local(.icon) {
  height: 50px;
  width: 50px;
  color: brown;
}

:local(.name) {
  font-size: 12px;
}
